2.pickle
5.pickle
7.pickle
8.pickle
10_1.pickle
10_2.pickle
10_3.pickle
10_4.pickle
60_1.pickle
20.pickle
60_1.pickle
60_2.pickle
60_3.pickle
80_1.pickle
80_2.pickle
80_3.pickle
Train_data/2_y_train.npy
Train_data/2_X_train.npy
Test_data/2_y_test.npy
Test_data/2_X_test.npy
